.app {
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(3, 3, 3);
    box-sizing: border-box;
    border-radius:20px;
  }
  
  input {
    width: 100%;
    height: 30px;
  }
  
  .add {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 13px;
  }
  
  .list {
    padding-top: 20px;
  }
  
  .item {
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .remove {
    background-color: rgb(190, 18, 18);
    margin-top: 20px;
    color: #fff;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 13px;
  }
  
  body{
    background-color: antiquewhite;
}


@keyframes change-color1{
  0% {color: red;}
  20% {color: orange;}
  40% {color: yellow;}
  60% {color: green;}
  80% {color: blue;}
  100% {color: purple;}
}


.h1-1:hover{ 
  animation-name: change-color1; 
  animation-duration: 2s;
  animation-iteration-count: infinite;
}